@model Matches.Models.Match

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Match</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatchID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatchID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatchDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatchDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opponent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opponent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Venue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Venue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoalsFor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoalsFor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoalsAgainst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoalsAgainst)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
