@model IEnumerable<Matches.Models.Match>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MatchID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opponent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoalsFor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoalsAgainst)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MatchID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opponent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoalsFor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoalsAgainst)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id=item.MatchID}) |
                @Html.ActionLink("Details", "Details", new {id=item.MatchID})
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <table style="margin-left: auto; margin-right: auto;" border="1" cellpadding="15">
        <caption><strong> Season Statistics: </strong></caption>
        <tr>
            <th>Played</th>
            <td> @ViewBag.PlayedCount</td>
        </tr>
        <tr>
            <th>Won</th>
            <td>@ViewBag.Won</td>
        </tr>
        <tr>
            <th>Lost</th>
            <td>@ViewBag.Lost</td>
        </tr>
        <tr>
            <th>Drew</th>
            <td>@ViewBag.Drew</td>
        </tr>
        <tr>
            <th>Points</th>
            <td>@ViewBag.Points</td>
        </tr>
        <tr>
            <th>Goal Diff</th>
            <td>@ViewBag.GoalDiff</td>
        </tr>
    </table>
</div>

